body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: rgb(1, 196, 228);
    background: linear-gradient(346deg, rgba(1, 196, 228, 1) 0%, rgba(255, 179, 0, 1) 100%);
    background-size: cover;
    background-position: center;
    background-size: auto;
  }
    
  hr.center-line {
    width: 70%;
    margin: auto;
    border: 2px solid rgb(255, 0, 85);
  }

  .navbar {
    position: fixed;
    top: 0;
    left:5px;
    right: 20px;
    width: 98%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px;
    text-align: center;
    color: #fff;
    z-index: 1000;
  }
  
  .logo {
    font: normal 36px 'Open Sans', cursive;
    padding-left: 10px;
  }
  
  .logo h3 {
    color: #ffffff;
    font: normal 36px 'Open Sans', cursive;
    margin: 0;
  }
  
  .logo h3 span {
    color: lightseagreen;
    padding-left: 10px;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    right: 60px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }

  .nav-links li a:hover {
    color: #ff008c;
    text-decoration: none;
  }
  
  .content {

    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    margin: 50px auto;
    max-width: 800px;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow:5px 10px #000000;
  }
  
  h2 {
    margin-top: 0;
    color: rgb(255, 0, 85);
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  th{
    color:rgb(255, 0, 85);
    font-weight: 600;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
  }
  