
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    }
 
  
  hr.center-line {
    width: 60%;
    margin: auto;
    border: 2px solid #555; 
  }
  
/* Centered Heading with Subheadings */

.centered-heading {
  padding-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.centered-heading h2 {
  padding: 5px;
  font-size: 40px;
  color: #007BFF;
  margin: 0;
}

.centered-heading h4 {
  font-size: 16px;
  color: #333;
  margin: 0;
  font-weight: normal;
}


  /* navigation bar */

.navbar {
  position: fixed;
  top: 10px;
  left: 10px; 
  width: 99%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff60;
  padding: 10px;
  z-index: 1000; 
}
.navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


.logo {
  font: normal 36px 'Open Sans', cursive;
}
.logo h3{
	color:  #000000;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.logo h3 span{
	color:  lightseagreen;
  padding-left: 10px;
}

.nav-links ul {
  display: flex; 
}


.nav-links li {
  margin-left: 20px;
  font-weight: bold;
}

/* Style the links */
.nav-links a {
  text-decoration: none;
  color: #000000;
}

.nav-links a:hover {
  color: #007bff; 
}




.empty{
  padding-bottom: 60px;
  display: block;
}

  .header{
    align-items: center;
    padding: 30px;
    box-shadow: 0 4px 8px #000000; 

  }

  #slider, .wrap, .slide-content {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 80vh;
    overflow-x: hidden;
  }
  
 
  .wrap {
    position: relative;
  }
  
  .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .slide1 {
    background-image: url("assets/header/photo-1.jpg");
  }
  .slide2 {
    background-image: url("assets/header/photo-2.jpg");
  }
  .slide3 {
    background-image: url("assets/header/photo-3.jpg");
  }
  
  .slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .slide-content span {
    font: normal 5rem 'Open Sans', cursive;
    color: #000000;
  }
  
  .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  #arrow-left {
    border-width: 30px 40px 30px 0;
    border-color: transparent #938e8e transparent transparent;
    left: 0;
    margin-left: 30px;
  }
  
  #arrow-right {
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent #938e8e;
    right: 0;
    margin-right: 30px;
  }
  
  
  /* Branches */

.Branches {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 20px; 
    padding: 20px;
  }
  
  .branch-card {
    flex: 1; 
    max-width: 350px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: white; 
    box-shadow: 0 4px 8px #000000; 
    overflow: hidden;
  }
   
  .branch-card:hover {
    box-shadow: 0 8px  50px #23232333;
    border:  2px solid #000000;
    background-color: #555;
    box-shadow: 0 5px 8px #555; 
  }
  
  .branch-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .branch-card:hover img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgb(7, 168, 255); 
  }

  
  .branch-card h3 {
    padding: 10px;
    font-size: 20px;
    margin: 0;
    color: royalblue;
  }
  
  .branch-card:hover h3{
    color: rgb(255, 0, 85);
  }


  .branch-card p {
    font-size: 16px; 
    color: #333;
  }

  .branch-card:hover p {
    font-size: 16px; 
    color: #ffffff;
  }


/* director */


  .director {

    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
  
  .card {
    width: 50%;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px #000000; 
  }
  
  .card:hover {
    box-shadow: 0 8px 50px #23232333;
   }
  .image-container,
  .content-container {
    flex-basis: 50%;
    padding: 10px;
  }
  
  .image-container img {
    width: 98%;
  }
.card:hover .image-container{
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgb(7, 168, 255); 

} 
  
  .content-container p {
    margin: 0;
  }
  
  /* admission  form */
.admission{
    justify-content: center;
    width: 100%;
    display: flex;
    padding: 40px;
   
}
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    border: 1px solid #000000;
    box-shadow: 0 4px 8px #000000; 
  }

  .form:hover{
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px rgb(7, 168, 255); 
  }
  
  .title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  .form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  
  .form label .input:focus + span,.form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  
  .form label .input:valid + span {
    color: green;
  }
  
  .submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(56, 90, 194);
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }



  /*Training */

  
.course{
  max-width: 1300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0px;
  gap: 35px;
}

.card-wrapper{
  display: block;
  color: inherit;
  text-decoration: none;
  box-shadow: 0 4px 8px #000000; 
  border-radius: 30px;
border:1px solid #000000;
}


.card-wrapper .course-card{
  border-radius: 7px;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1),
              0px 0px 6px 0px rgba(0, 0, 0, 0.1);
}

.course-card:hover {
  border: 1px solid #ffffff;
  box-shadow: 0 4px 8px rgb(7, 168, 255); 
}


.course-card .image-div{
  margin-bottom: 16px;
}

.course-card .image-div img{
  width: 100%;
  border-radius: 7px;
}

.course-card .text-div .course-name{
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 8px;
}

.course-card.text-div .line-break{
  width: 75%;
  height: 3px;
  background-color: rgb(237, 237, 237);
  border: none;
}

.course-card.text-div .price-div{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 16px;
  font-weight: 700;
}

.course-card .text-div .price-div .current-price{
  color: rgb(102 116 204); 
}

.course-card .text-div .price-div .actual-price{
  color: rgb(119 124 133);
}

.course-card .text-div .price-div .discount{
  font-size: 14px;
  color: #fff;
  background-color: rgb(29 209 161);
  padding: 7px 8px;
  border-radius: 5px;
  letter-spacing: -0.5px;
}




section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 20vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}


.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


